 html , body {
    display: flex;
    width: 1000px;
    height: 100%;
    position: relative;
}


.input , .output {    
    
    width: 40%;
    height: 80%;
    height: 100;
    margin: 10px;
    padding: 10px;
}

.text {

    width:400px;
    height: 600px;

}
